.Header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.buttonMenuDiv {
    margin-left: 1rem;
    margin-right: 1rem;
}

.profileDiv {
    position: absolute;
    right: 20px;
    border: 1px black solid;
}